{{ define "main" }}
  <section class="section blog-list py-5">
    <div class="container">
      <div class="row g-4 pb-5">
        {{ range (.Paginate .RegularPages).Pages }}
        <div class="col-12">
          <a class="text-decoration-none h-100" href="{{ .Permalink }}">
            <div class="card-http://localhost:1313/post/placeholder-text/body">
              <h4 >{{ .Title }}</h4>
              <p><em>{{ partial "shared/postMeta.html" . }}</em></p>
              <p class="">{{ .Summary | plainify }}</p>
            </div>
          </a>
          <hr/>
        </div>
        {{ end }}
      </div>
      <div class="row">
        {{ partial "shared/pagination.html" . }}
      </div>
    </div>
  </section>
{{ end }}
