{{ define "main" }}
  <section class="section blog-list py-5">
    <div class="container">
      <div class="row g-4 pb-5">
        {{ range (.Paginate .RegularPages).Pages }}
        <div class="col-12">
          <a class="text-decoration-none h-100" href="{{ .Permalink }}">
            <div class="card-http://localhost:1313/post/placeholder-text/body">
              <h5 >{{ .Title }}</h5>
              <p><em><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                {{ .Date.Format "Jan 2, 2026" }}
              </time></em></p>
              <p class="">{{ .Summary | plainify }}</p>
            </div>
          </a>
          <hr/>
        </div>
        {{ end }}
      </div>
      <div class="row pb-5">
        {{ partial "shared/pagination.html" . }}
      </div>
    </div>
  </section>
{{ end }}
